<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwapOpp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD43B7861ED7BF0A003EFE05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD43B79E1ED7BF0A003EFE05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD43B7A91ED7BF0A003EFE05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
